* @chronicle/tip-marketplace-admin @chronicle/malachite-github-content-hub-admins

packages/mp/ amitjoseph@google.com @chronicle/malachite-github-content-hub-admins

content/response_integrations/ @chronicle/secops-marketplace-pr-approvers @chronicle/malachite-github-content-hub-admins adarshtiwary@google.com
content/playbooks/ @chronicle/secops-marketplace-pr-approvers @chronicle/malachite-github-content-hub-admins
content/parsers/ @chronicle/malachite-github-content-hub-parsers-writers
tools/parsers/ @chronicle/malachite-github-content-hub-parsers-writers
